body 
{
    background-color: lightgray;
    text-align: center;
}

.copy_right_footer
{
    position:fixed ;
    bottom:0 ;
    width:100% ;
    height:5% ;
    float:right;
    background-color: darkgray;
}

img:hover
{
    border-radius: 140px;
}